@font-face {
    font-family: 'Montserrat Italic';
    src: url('Montserrat-Italic.eot');
    src: url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('Montserrat-Italic.woff') format('woff'), url('Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}